functionsDirectory = "C:\\Users\\CRISTIAN\\Downloads\\Chamba\\Pagina Educativa\\academia-santafe\\netlify\\functions"
functionsDirectoryOrigin = "default"
headersOrigin = "inline"
redirectsOrigin = "inline"

[build]
publish = "C:\\Users\\CRISTIAN\\Downloads\\Chamba\\Pagina Educativa\\academia-santafe\\.next"
publishOrigin = "config"
commandOrigin = "config"
base = "C:\\Users\\CRISTIAN\\Downloads\\Chamba\\Pagina Educativa\\academia-santafe"
command = "npm run build"
functions = "C:\\Users\\CRISTIAN\\Downloads\\Chamba\\Pagina Educativa\\academia-santafe\\netlify\\functions"

[build.environment]
NODE_VERSION = "18"

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[functions]

[functions."*"]

[[plugins]]
origin = "config"
package = "@netlify/plugin-nextjs"

[plugins.inputs]

[[headers]]
for = "/_next/static/*"

[headers.values]
Cache-Control = "public, max-age=31536000, immutable"

[[redirects]]
from = "/_next/image"
to = "/.netlify/images?url=:url&w=:width&q=:quality"
status = 200.0
force = false

[redirects.query]
url = ":url"
w = ":width"
q = ":quality"

[redirects.conditions]

[redirects.headers]

[[redirects]]
from = "/_ipx/*"
to = "/.netlify/images?url=:url&w=:width&q=:quality"
status = 200.0
force = false

[redirects.query]
url = ":url"
w = ":width"
q = ":quality"

[redirects.conditions]

[redirects.headers]